# Tratamento Tabela Resultados 06 - 07 - 2024

In [1]:
pip install ydata-profiling matplotlib ipywidgets pandas pyarrow openpyxl

Requirement already satisfied: ydata-profiling in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (4.9.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: matplotlib in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (3.9.2)
Requirement already satisfied: ipywidgets in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (8.1.3)
Requirement already satisfied: pandas in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (2.2.2)
Requirement already satisfied: pyarrow in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (17.0.0)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     -------------------------------------- 250.9/250.9 kB 5.1 MB/s eta 0:00:00
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (1.13.1)
Requirement already satisfied: pydantic>=2 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (2.8.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (3.1.4)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2,>=1.16.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (4.66.5)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=3 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.7.0)
Requirement already satisfied: pillow in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: comm>=0.1.3 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipywidgets) (8.26.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.11 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipywidgets) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipywidgets) (3.0.11)
Requirement already satisfied: pytz>=2020.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from pandas) (2024.1)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: decorator in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.18.0)
Requirement already satisfied: stack-data in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (4.12.2)
Requirement already satisfied: colorama in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.5)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.43.0)
Requirement already satisfied: joblib>=0.14.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from pydantic>=2->ydata-profiling) (2.20.1)
Requirement already satisfied: six>=1.5 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2024.7.4)
Requirement already satisfied: patsy>=0.5.6 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (24.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\inteli\documents\github\mod_7_prog\aula_3_arima\venv\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.3)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import pyarrow
import matplotlib.pyplot as plt

## Importando dataset (não rodar pq se não vai baixar os dados novamnte)

In [13]:
import pandas as pd

# Carrega o arquivo Excel
file_path = '../../../data/csv/RESULTADOS_08_2023_09_2023.xlsx'
xls = pd.ExcelFile(file_path)

# Lista todas as planilhas no arquivo
print("Planilhas disponíveis:", xls.sheet_names)

# Itera por cada planilha e trabalha com os dados
# for sheet_name in xls.sheet_names:
#     # Lê a planilha específica
#     df = pd.read_excel(xls, sheet_name=sheet_name)
#     print(f"\nDados da planilha: {sheet_name}")
#     print(df.head())  # Exibe as primeiras linhas da planilha

    # Aqui você pode manipular os dados conforme necessário
    # Exemplo: obter a soma de uma coluna
    # total = df['coluna_de_interesse'].sum()

Planilhas disponíveis: ['Relatório 1', 'Relatório 1(1)', 'Relatório 1(2)', 'Relatório 1(3)', 'Relatório 1(4)', 'Relatório 1(5)', 'Relatório 1(6)', 'Relatório 1(7)', 'Relatório 1(8)', 'Relatório 1(9)', 'Relatório 1(10)']

In [ ]:
# Carrega o arquivo Excel
file_path = '../../../data/csv/RESULTADOS_10_2023_11_2023.xlsx'
xls = pd.ExcelFile(file_path)

# Lista todas as planilhas no arquivo
print("Planilhas disponíveis:", xls.sheet_names)

In [15]:
import pandas as pd

# Carrega o arquivo Excel
file_path = '../../../data/csv/RESULTADOS_08_2023_09_2023.xlsx'
xls = pd.ExcelFile(file_path)

# Itera por cada planilha e salva como CSV
for i, sheet_name in enumerate(xls.sheet_names):
    # Lê a planilha
    df = pd.read_excel(xls, sheet_name=sheet_name)
    
    # Define o nome do arquivo CSV
    csv_file_path = f'p{i+1}_res_8_9.csv'
    
    # Salva a planilha como CSV
    df.to_csv(csv_file_path, index=False)
    
    print(f"A planilha '{sheet_name}' foi salva como '{csv_file_path}'.")

C:\Users\Inteli\Documents\GitHub\MOD_7_PROG\aula_3_ARIMA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

A planilha 'Relatório 1' foi salva como 'p1_res_8_9.csv'.
A planilha 'Relatório 1(1)' foi salva como 'p2_res_8_9.csv'.
A planilha 'Relatório 1(2)' foi salva como 'p3_res_8_9.csv'.
A planilha 'Relatório 1(3)' foi salva como 'p4_res_8_9.csv'.
A planilha 'Relatório 1(4)' foi salva como 'p5_res_8_9.csv'.
A planilha 'Relatório 1(5)' foi salva como 'p6_res_8_9.csv'.
A planilha 'Relatório 1(6)' foi salva como 'p7_res_8_9.csv'.
A planilha 'Relatório 1(7)' foi salva como 'p8_res_8_9.csv'.
A planilha 'Relatório 1(8)' foi salva como 'p9_res_8_9.csv'.
A planilha 'Relatório 1(9)' foi salva como 'p10_res_8_9.csv'.
A planilha 'Relatório 1(10)' foi salva como 'p11_res_8_9.csv'.

In [10]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,NaN,2023-2016173,272500,2,10,Grad,1,1.00 ...,2023-06-06 07:07:30
2,NaN,2023-2016173,272500,2,10,Grad,3,253.00 ...,2023-06-06 07:07:30
3,NaN,2023-2016173,272500,2,10,Nm,0,2.05 ...,2023-06-06 07:07:30
4,NaN,2023-2016173,272500,2,10,Nm,2,6.00 ...,2023-06-06 07:07:30

# Importando dados planilha 1 - 8 e 9

In [90]:
df = pd.read_csv("../../../data/csv/p1_res_8_9.csv", engine='pyarrow')

In [91]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,None,None,Relatório 1,None,None,None,None,None
1,NaN,None,None,None,None,None,None,None,None
2,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
3,NaN,2023-2316418,012001,1,10,None,0,None,2023-08-02 12:04:16
4,NaN,2023-2316418,012002,1,10,None,0,None,2023-08-02 12:18:14

In [92]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [93]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [94]:
df.head()

2           KNR    NAME ID STATUS  UNIT VALUE_ID VALUE                 DATA
3  2023-2316418  012001  1     10  None        0  None  2023-08-02 12:04:16
4  2023-2316418  012002  1     10  None        0  None  2023-08-02 12:18:14
5  2023-2316418  012003  1     10  None        0  None  2023-08-02 12:18:27
6  2023-2316418  012004  1     10  None        0  None  2023-08-02 12:17:27
7  2023-2316418  018001  1     10  None        0  None  2023-08-02 11:57:29

In [95]:
columns = df.columns.tolist()
print("Columns:", columns)

Columns: ['KNR', 'NAME', 'ID', 'STATUS', 'UNIT', 'VALUE_ID', 'VALUE', 'DATA']

## Tirando coluna vazia

In [96]:
df = df.drop_duplicates()

## Removendo nulos

In [97]:
df = df.dropna()

## Convertendo data de object pra datetime

In [98]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [99]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [100]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [101]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [102]:
pivot_df.head(20)

,KNR,QTD_STATUS_1_NOK,QTD_STATUS_1_NOK,QTD_STATUS_2_NOK,QTD_STATUS_2_NOK,QTD_STATUS_718_NOK,QTD_STATUS_718_NOK,TEMPO_MEDIO
0,2023-2316418,2,0,727,0,32,0,NaN
1,2023-2316419,2,0,714,4,33,0,NaN
2,2023-2816173,0,0,0,0,1,0,NaN
3,2023-2826041,0,0,0,0,1,0,NaN
4,2023-2826097,0,0,0,0,1,0,NaN
5,2023-2826121,0,0,0,0,1,4,NaN
6,2023-2826215,0,0,0,0,1,0,NaN
7,2023-2826241,0,0,0,0,1,0,NaN
8,2023-2826305,0,0,0,0,1,1,489.933333
9,2023-2836050,0,0,6,0,33,0,489.933333
10,2023-2836148,0,0,4,0,33,0,489.933333
11,2023-2836159,0,0,0,0,1,0,489.933333
12,2023-2836233,0,0,0,0,1,0,489.933333
13,2023-2836249,0,0,0,0,1,1,489.933333
14,2023-2846087,0,0,0,0,1,2,489.933333
15,2023-2846095,0,0,0,0,1,1,489.933333
16,2023-2846138,0,0,0,0,1,0,489.933333
17,2023-2846142,0,0,0,0,1,1,489.933333
18,2023-2846215,0,0,0,0,1,2,489.933333
19,2023-2846228,0,0,4,0,34,1,489.933333

# Importando dados planilha 2 - 8 e 9

In [112]:
df = pd.read_csv("../../../data/csv/p2_res_8_9.csv", engine='pyarrow')

In [114]:
df.head()

,Unnamed: 0,2023-3016074,160200,2,10,Nm,0,14.15,2023-08-07 06:56:46
0,NaN,2023-3016074,160800,2,10,Grad,1,40.00 ...,2023-08-07 06:24:39
1,NaN,2023-3016074,160800,2,10,Nm,0,35.17 ...,2023-08-07 06:24:39
2,NaN,2023-3016074,160900,2,10,Grad,1,46.00 ...,2023-08-07 06:24:43
3,NaN,2023-3016074,160900,2,10,Nm,0,35.70 ...,2023-08-07 06:24:43
4,NaN,2023-3016074,190100,2,10,Grad,1,109.6 ...,2023-08-07 07:17:42

In [105]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [106]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [107]:
df.head()

2,2023-3016074,160900,2,10,Grad,1,46.00,2023-08-07 06:24:43
3,2023-3016074,160900,2,10,Nm,0,35.70 ...,2023-08-07 06:24:43
4,2023-3016074,190100,2,10,Grad,1,109.6 ...,2023-08-07 07:17:42
5,2023-3016074,190100,2,10,Nm,0,20.3 ...,2023-08-07 07:17:42
6,2023-3016074,190200,2,10,Grad,1,110.8 ...,2023-08-07 07:17:45
7,2023-3016074,190200,2,10,Nm,0,20.3 ...,2023-08-07 07:17:45

In [108]:
columns = df.columns.tolist()
print("Columns:", columns)

Columns: ['2023-3016074', '160900', 2, 10, 'Grad      ', '1', '46.00                                             ', Timestamp('2023-08-07 06:24:43')]

## Tirando coluna vazia

In [109]:
df = df.drop_duplicates()

## Removendo nulos

In [110]:
df = df.dropna()

## Convertendo data de object pra datetime

In [111]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

KeyError: 'DATA'

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 3 - 8 e 9

In [115]:
df = pd.read_csv("../../../data/csv/p3_res_8_9.csv", engine='pyarrow')

In [116]:
df.head()

,Unnamed: 0,2023-3056065,263000,2,10,Nm,0,14.28,2023-08-11 10:28:44
0,NaN,2023-3056065,270500,2,10,Grad,1,19.00 ...,2023-08-11 12:48:39
1,NaN,2023-3056065,270500,2,10,Nm,0,20.29 ...,2023-08-11 12:48:39
2,NaN,2023-3056065,272500,2,10,Grad,1,202.00 ...,2023-08-11 14:11:00
3,NaN,2023-3056065,272500,2,10,Nm,0,6.09 ...,2023-08-11 14:11:00
4,NaN,2023-3056065,272700,2,10,Grad,1,153.00 ...,2023-08-11 14:10:50

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 4 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p4_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 5 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p5_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 6 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p6_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 7 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p7_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 8 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p8_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 9 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p9_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 10 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p10_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)

# Importando dados planilha 11 - 8 e 9

In [ ]:
df = pd.read_csv("../../../data/csv/p11_res_8_9.csv", engine='pyarrow')

In [ ]:
df.head()

In [ ]:
df.drop(columns = 'Unnamed: 0', inplace=True)

In [ ]:
df.columns = df.iloc[2]
df.drop([0,1,2], axis = 0, inplace=True)

In [ ]:
df.head()

In [ ]:
columns = df.columns.tolist()
print("Columns:", columns)

## Tirando coluna vazia

In [ ]:
df = df.drop_duplicates()

## Removendo nulos

In [ ]:
df = df.dropna()

## Convertendo data de object pra datetime

In [ ]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

## Criando as colunas por status e por id

In [ ]:
pivot_df = df.pivot_table(index='KNR', columns=["ID", "STATUS"], aggfunc='size', fill_value=0)

pivot_df.columns = [f'QTD_STATUS_{col[0]}_OK' if col[1]== 10 else f'QTD_STATUS_{col[0]}_NOK' for col in pivot_df.columns]

pivot_df.reset_index(inplace=True)

## Criando coluna de quantidade de operações por KNR, que, no caso, também é a soma dos status de cada resultado

In [ ]:
pivot_df["TEMPO_MEDIO"] = df.groupby('KNR').DATA.transform('max') - df.groupby('KNR').DATA.transform('min')

## Transformando tempo em minutos

In [ ]:
pivot_df["TEMPO_MEDIO"] = pivot_df["TEMPO_MEDIO"].dt.total_seconds()/60

In [ ]:
pivot_df.head(20)